apiVersion: v1
kind: Service
metadata:
  name: discovery-server
  namespace: petclinic
  labels:
    app.kubernetes.io/name: discovery-server
    app.kubernetes.io/part-of: spring-petclinic
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: discovery-server
  ports:
    - name: http
      port: 8761
      targetPort: 8761
