apiVersion: v1
kind: Service
metadata:
  name: visits-service
  namespace: petclinic
  labels:
    app.kubernetes.io/name: visits-service
    app.kubernetes.io/part-of: spring-petclinic
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: visits-service
  ports:
    - name: http
      port: 8082
      targetPort: 8082
