apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: petclinic
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/part-of: petclinic
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: mysql
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
